@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

* { font-family: 'Roboto', sans-serif; }

/* stylelint-disable */
:root {
  --footer-height: 52px;
}
/* stylelint-enable */
a { color: white;}
a:hover {
  text-decoration: none;
}


/* svg:hover {
   fill: red;
} */
.main-container {
  min-height: calc(100vh - var(--footer-height));
}

.gradient {
  fill: url('#gradient-layer');
  pointer-events: all;
}

.gradient ~ defs stop {
  transition: 0.3s;
}

.gradient.hover ~ defs stop:first-child {
  stop-color: #8940de;
}

.gradient.hover ~ defs stop:nth-child(2) {
  stop-color: #e1a728;
}

.gradient.hover ~ defs stop:last-child {
  stop-color: #24bed2;
}

.footer {
  height: var(--footer-height);
  line-height: 60px;
}

body {
  width: 100%;
  background-color: #d7d7d7ec;

  /* color: white; */
  margin: 0;
  padding: 0;
}

#top-bar {
  margin: 28px 0 28px 0;
}

.spacing-reset {
  padding: 0;
  margin: 0;
  border: 0;
}

.list-reset {
  padding: 0;
  margin: 0;
  list-style-type: none;
  border: 0;
}

@media (min-width: 1200px) {
  .container {
    width: 990px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 990px;
  }
}

.enter_section {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}

#enter_text {
  width: 400px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: auto;
  font-size: 16px;
}

.task {
  border-color: black;
  border-style: solid;
  border-width: 3px;
}

.button-size {
  padding-bottom: 20px;
}

#text-enter-button {
  margin-top: 10px;
  width: 398px;
  margin-bottom: 16px;
}

/* Card styling */
.card {
  display: grid;
  grid-template-columns: 300px;
  grid-template-rows: 210px 210px 80px;
  grid-template-areas: "image" "text" "stats";

  border-radius: 18px;
  background: white;
  font-family: roboto;
  text-align: center;
}

.card-image {
  grid-area: image;
}
.card-text {
  grid-area: text;
}
.card-stats {
  grid-area: stats; 
}
.card-image {
  grid-area: image;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-size: cover;
}
.card-text {
  grid-area: text;
  margin: 25px;
}
.card-text .date {
  color: rgb(255, 7, 110);
  font-size:13px;
}
.card-text p {
  color: grey;
  font-size:15px;
  font-weight: 300;
}
.card-text h2 {
  margin-top:0px;
  font-size:28px;
}
.card-stats {
  grid-area: stats; 
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;

  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background: rgb(255, 7, 110);
}
.card-stats .stat {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  color: white;
  padding:10px;
}
.card:hover {
  transform: scale(1.15);
}
.card {
  transition: 0.5s ease;
  cursor: pointer;
  margin:30px;
}

.card-horizontal {
  display: flex;
  flex: 1 1 auto;
}